/* general */

@font-face {
    font-family: Pattaya; 
    src: url("../fonts/Pattaya-Regular.ttf"); 
}
@font-face {
    font-family: MarckScript-Regular; 
    src: url("../fonts/MarckScript-Regular.ttf"); 
}
@font-face {
    font-family: Inter-VariableFont_slnt,wght; 
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf"); 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    line-height: 89px;
    font-family: 'Pattaya';
    color: #3F2071;
}
.wrapper {
    width: 89.2%;
    margin: 0 auto;
}
/* end general */
/*header*/
.nh-header {
    background: linear-gradient(270deg, rgba(48, 48, 70, 0.81) 0%, #FFFFFF 76.64%);
backdrop-filter: blur(25px);
color: #2E3D72;
}
.nh-header .wrapper {
    background-image: url("../img/top foto.png");
    background-repeat: no-repeat;
    background-position: right 154px;

    padding-top: 35px;
    padding-bottom: auto;
}
.header-navigation {
    display: flex; 
    margin-bottom: 14px;
}
.logo {
    width: 266px;
    height: 105px;
    margin-right: 254px;
}
ul {
    list-style: none;
}
.header-navigation-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 24px;
    
}
.header-navigation a {
    text-decoration: none;
    display: block;
    margin-right: 35px;
    
}
.header-navigation-menu li:last-child>a {
    margin-right: 0;
    
}

.about-us {
    width: 545px;
    padding-left: 58px;
}
.about-us h1 {
font-family: 'Pattaya';
font-style: normal;
font-weight: 400;
font-size: 87px;
line-height: 121px;
text-align: center;
color: #2E3D72;
margin-bottom: 24px;

}
.about-us h2 {
    font-family: 'Pattaya';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 89px;
text-align: center;
color: #2E3D72;
margin-bottom: 33px;
}

.wrapper p {
    margin-left: 54px;
    margin-top: 29px;
    font-family: 'Inter';
font-style: italic;
font-size: 20px;


color: #000000;
}

.btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 7px 29px;
font-family: 'Pattaya';
font-size: 48px;
color: #FFFFFF;
background: #81D742;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 20px;
cursor: pointer;
margin-left: 133px;
text-shadow: -2px -4px 4px rgba(0, 0, 0, 0.25),
            1px -2px 2px #000000;

}
/*header end*/

/*main - в нём будет несколько блоков*/

/*frame1*/
.main .frame1 {
background-color: #2E3D72;
font-style: Pattaya;
color: #FFFFFF;
font-size: 48px;
}
.without-list {
    display: flex;
justify-content: space-between;
flex-wrap: wrap;
       
}

.galochka {
    width: 86px;
    height: 86px;
    border-radius: 50%; /*делаем скругление, чтобы картинка попала только в область круга */
    background: url("../img/galochka.jpg") no-repeat; /*квадратная картинка*/
    border: 2px solid #255700;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 40px 0;

}
/*frame1 - end*/

#empty {
    height: 74px; /*добавляет полосу в 74рх, чтобы блок content шёл сразу после frame1*/
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.71) 25.74%, #303046 88.69%);
}

/*content*/

.content-container {
    position: relative;
padding: auto;
    margin: auto;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.71) 25.74%, #303046 88.69%);
    font-family: MarckScript-Regular;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #2E3D72;

  }
  .content-content {
    padding: 66px 73px; /*двигаем контент вниз и враво, чтобы были отступы и фон*/
  }
  .section {
    width: 100%; 
    margin: -74px 0 0 0;/*наползание картинок друг на друга
                          из-за него добавляем пустой див #empty размера 74рх */ 
  }
  .section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
    text-align: left;
    gap: 51px; /*расстояние горизонтальное между текстом и картинкой*/
  }
  .section p {
    margin: 74px auto; /*опускаем тексты вниз, чтобы были по центру от картинок по горизонтали*/
  }

  figure1 {
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
    border-radius: 50%; 
    background: url("../img/clock.png") no-repeat;

  }

  figure2 {
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
    border-radius: 50%; 
    background: url("../img/hands.png") no-repeat;
margin-left: 8%;
  }

  figure3 {
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
    border-radius: 50%; 
    background: url("../img/palmface.png") no-repeat;
margin-left: 16%;
}

.empty, .wrap, {
  width: 33.33%
}
/*content end*/

.main .frame1 {
    background-color: #2E3D72;
    font-style: Pattaya;
    color: #FFFFFF;
    font-size: 48px;
    }
    .without-list {
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
           
    }    