/* general */

@font-face {
    font-family: Pattaya; 
    src: url("../fonts/Pattaya-Regular.ttf"); 
}
@font-face {
    font-family: MarckScript-Regular; 
    src: url("../fonts/MarckScript-Regular.ttf"); 
}
@font-face {
    font-family: Inter-VariableFont_slnt,wght; 
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf"); 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    line-height: 89px;
    font-family: 'Pattaya';
    color: #3F2071;
}
.wrapper {
    width: 89.2%;
    margin: 0 auto;
}
/* end general */
/*header*/
.nh-header {
    background: linear-gradient(270deg, rgba(48, 48, 70, 0.81) 0%, #FFFFFF 76.64%);
backdrop-filter: blur(25px);
color: #2E3D72;
}
.nh-header .wrapper {
    background-image: url("../img/top foto.png");
    background-repeat: no-repeat;
    background-position: right 154px;
}
.header-navigation {
    display: flex; 
    margin-bottom: 14px;
}
.logo {
    width: 266px;
    height: 105px;
    margin-right: 254px;
}
.header-navigation ul {
    list-style: none;
}
.header-navigation-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 24px;
    
}
.header-navigation a {
    text-decoration: none;
    display: block;
    margin-right: 35px;
    font-family: 'Inter-VariableFont_slnt,wght';
font-style: italic;

font-size: 30px;

color: #FFFFFF;
text-shadow: -2px -4px 4px rgba(0, 0, 0, 0.25),
            1px -2px 2px #000000;
}

.header-navigation-menu li:last-child>a {
    margin-right: 0;
    
}

.about-us {
    width: 545px;
    padding-left: 58px;
}
.about-us h1 {
font-family: 'Pattaya';
font-style: normal;
font-weight: 400;
font-size: 87px;
line-height: 121px;
text-align: center;
color: #2E3D72;
margin-bottom: 24px;

}
.about-us h2 {
    font-family: 'Pattaya';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 89px;
text-align: center;
color: #2E3D72;
margin-bottom: 33px;
}

.wrapper p {
    margin-left: 54px;
    margin-top: 29px;
    font-family: 'Inter';
font-style: italic;
font-size: 20px;


color: #000000;
}

.btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 7px 29px;
font-family: 'Pattaya';
font-size: 48px;
color: #FFFFFF;
background: #81D742;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 20px;
cursor: pointer;

text-shadow: -2px -4px 4px rgba(0, 0, 0, 0.25),
            1px -2px 2px #000000;

}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


#confirm {
    display: flex;
    justify-content: center;
}
/*header end*/

/*main - в нём будет несколько блоков*/

/*frame1*/
.main .frame1 {
background-color: #2E3D72;
font-style: Pattaya;
color: #FFFFFF;
font-size: 48px; 
}
.without-list {
    display: flex;
justify-content: space-between;
flex-wrap: wrap; 
       
}

.galochka {
    width: 86px;
    height: 86px;
    border-radius: 50%; /*делаем скругление, чтобы картинка попала только в область круга */
    background: url("../img/galochka.jpg") no-repeat; /*квадратная картинка*/
    border: 2px solid #255700;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 40px 0;

}
/*frame1 - end*/

#empty {
    height: 74px; /*добавляет полосу в 74рх, чтобы блок content шёл сразу после frame1*/
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.71) 25.74%, #303046 88.69%);
}

/*content*/

.content-container {
    position: relative;
padding: auto;
    margin: auto;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.71) 25.74%, #303046 88.69%);
    font-family: MarckScript-Regular;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #2E3D72;

  }
  .content-content {
    padding: 66px 73px; /*двигаем контент вниз и враво, чтобы были отступы и фон*/
  }
  .section {
    width: 100%; 
    margin: -74px 0 0 0;/*наползание картинок друг на друга
                          из-за него добавляем пустой див #empty размера 74рх */ 
  }
  .section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
    text-align: left;
    gap: 51px; /*расстояние горизонтальное между текстом и картинкой*/
  }
  .section p {
    margin: 74px auto; /*опускаем тексты вниз, чтобы были по центру от картинок по горизонтали*/
  }

  figure1 {
    width: 250px;
    height: 250px;
    border: 3px solid #2E3D72;
    border-radius: 50%; 
    background: url("../img/clock.png") no-repeat;

  }

  figure2 {
    width: 250px;
    height: 250px;
    border: 3px solid #2E3D72;
    border-radius: 50%; 
    background: url("../img/hands.png") no-repeat;
margin-left: 8%;
  }

  figure3 {
    width: 250px;
    height: 250px;
    border: 3px solid #2E3D72;
    border-radius: 50%; 
    background: url("../img/palmface.png") no-repeat;
margin-left: 16%;
}

.empty, .wrap, {
  width: 33.33%
}
/*content end*/
/*frame2*/

.press-button {
    margin: 0;
    padding: 0;
    display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 27px 0;
gap: 28px;

}

.main .frame2 {
    background-color: #2E3D72;
    font-style: Pattaya;
    color: #FFFFFF;
    font-size: 48px; 
    margin: 0;
    padding: 0;
    }
/*frame2 end*/
/*feedback*/
#true-feedback p {
    
font-family: 'MarckScript-Regular';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
text-align: center;
margin-bottom: 23px;
color: #000000;
}

.customer-text p {
    font-family: 'Inter-VariableFont_slnt,wght';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #000000;
margin-left: 0;
max-width: 310px;


}

.customer-text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 100%;
       
}
.customer-foto {
    display: flex;
    justify-content: space-around;
    
  }
.cat {
    box-sizing: border-box;
    position: relative;
    width: 170px;
    height: 170px;
    border: 3px solid #2E3D72;
    border-radius: 50%; 
    background: url("../img/cat.png") no-repeat;

}
.dog {
    box-sizing: border-box;
    position: relative;
    width: 170px;
    height: 170px;
    border: 3px solid #2E3D72;
    border-radius: 50%; 
    background: url("../img/dog.png") no-repeat;

}
.mouse {
    box-sizing: border-box;
   position: relative;
    width: 170px;
    height: 170px;
    border: 3px solid #2E3D72;
    border-radius: 50%; 
    background: url("../img/mouse.png") no-repeat;

}

/*feedback end*/
/*frame3*/
.main .frame3 {
    background-color: #2E3D72;
    font-style: Pattaya;
    color: #FFFFFF;
    font-size: 48px; 
    }


#circle {
    box-sizing: border-box;
   position: relative;
   height: 86px;
   width: 86px;
    border: 45px solid #81D742;;
    border-radius: 50%; 
    fill: solid #81D742;
 text-align: center;
    display: flex;
    justify-content: center;
}
 

/*
#circle p {
    font-size: 48px;
  color: white;
  align-self: center;
}
для знака вопроса, вписанного в круг */
#container-q {
    position: relative;
 align-items: center;
 display: flex;
    justify-content: space-between;
}
/*frame3 end*/
/*Form*/

input, textarea, select {
    box-sizing: border-box;
    display: block;
    width: 457px;
    height: 45px;
    margin-bottom: 15px;
    font-family: 'Inter-VariableFont_slnt,wght';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
color: #000000;
border-radius: 5px;
border: 2px solid #2E3D72;

}


textarea {
    height: 90px;
    resize: none;
}

.right-column p {
    font-family: 'MarckScript-Regular';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
text-align: center;
margin-bottom: 23px;
color: #000000;

}

.white {
	color: white;
}

.form-container {
    margin: 0;
    padding: 0;
    display: flex;
 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, #303046 100%);
}
.left-column, .right-column {
    max-width: 580px;
   
}
.left-column { 
    margin: 30px 0;
}
.right-column { 
    margin: auto 0;
}
#fly {
    display: flex;
    justify-content: center;
}
/*Form end*/

/*Footer*/

.nh-footer {
   
    position: relative;
background: linear-gradient(180deg, #333349 0%, #000000 74.06%);

}

.links-container a {
    
font-family: 'Inter-VariableFont_slnt,wght';
font-style: italic;

font-size: 30px;
text-decoration: none;
color: #FFFFFF;
text-shadow: -2px -4px 4px rgba(0, 0, 0, 0.25),
            1px -2px 2px #000000;
}
.links-container {
    padding: 3% 0;
}

#first-row ul, #second-row ul, #third-row ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 68px;
   
  }
  #first-row li, #second-row li, #third-row li {
    display: inline-block; 
    /*один из способов разместить элементы в строку*/
  }


#container-end img {
    display: flex;
    justify-content: flex-end;
    margin-right: 77px;
}

#container-end p {
    font-family: 'Inter-VariableFont_slnt,wght';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-start;
        margin-left: 77px;
        margin-right: 75px;
        margin-top: 35px;
}
#container-end {
    display: flex;
    justify-content: space-evenly;
}
/*Footer end*/